{
  font-family: 'Lato', sans-serif;
  font-weight: 10;
}


{
    font-family: 'Windsong', sans-serif;

font-family: 'Windsong', sans-serif;

color: #fff;
}

/*Navbar Configuration*/

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 8px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 2000;
    color:#1f1f1f!important;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

/*HOME*/

#home {
  background: url(../images/4.jpg);
  background-color: #222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
      background-size: cover;
  padding: 0;
}

#how {
  background: url(../images/water.gif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 5%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
      background-size: cover;
  padding: 0;
}



.home-overlay {
    background-color: rgba(44, 62, 80, 0.3);
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.intro {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
     -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
     -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
  padding: 0 15px;
}

.intro h1{
    font-size: 40px;
    font-weight: none;
}

.start {
  font-size: 16px;
  font-style: normal;
  text-transform: none;
  margin: 15px 0;
}

h1.home{
  color: rgba(255, 255, 255, .5);
}

.title-light{
  color: #D4D4D4;
}

.spacing{
  font-size: 14px;
  letter-spacing: 2;
  text-align: justify; 
  font-weight: 2000;
  color: rgba(255, 255, 255, .7);
}


/*SOBRE MI*/

hr{
  width: 50%;
  border-width: 1px;
  margin: 0 auto;
  margin-top: 30px;
}

.sub-title{
  letter-spacing: 6px;
  font-size: 60px;
  font-family: 'Lato Thin', sans-serif;
  font-weight: 100;
  margin: 20px;
}

@media(max-width:768px) {

  .sub-title{
  letter-spacing: 6px;
  font-size: 10px;
  font-family: 'Lato Thin', sans-serif;
  font-weight: 100;
  margin: 0px;
}

}

.txt-me{
  margin-top: 30px;
  margin: 0 auto;
  width: 80%;
  font-size: 25px;
  letter-spacing: 10;
  line-height: 2;
  font-style: italic;
}

.feedback p:before {
    position: absolute;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 60px;
    content: '\201C';
    top: -15px;
    left: -31px;
    font-style: normal;
    color: #CCC;
  }

.quote-size{
  font-size: 50px;
  position: absolute;
    top: 130px;
    left: 70px;
font-family: 'Lato', sans-serif!important;    color:#fff;
}

.quote-size2{
  font-size: 50px;
  position: absolute;
    bottom: 19px; 
    right: 200px;
font-family: 'Lato', sans-serif!important;    color:#fff;
}

section.mg-btn{
  margin-bottom: 30px;
}

/*SECCION FOTOS Y MODAL*/

.margin-proyectos{
  margin-bottom: 30px; 
}

img.vista {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .4s;
  -moz-filter: grayscale(100%); 
  -moz-transition: .4s;
  -o-filter: grayscale(100%); 
  -o-transition: .4s;
}

img.vista:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s;
  -o-filter: grayscale(0%);
  -o-transition: .5s;
  transform: scale(1.1);/*Damos un ligero zoom a la imagen*/

} 


.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: ;
}

.portfolio-modal .modal-content img {
    margin-bottom: 60px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#portfolio{
  margin-bottom: 100px;
}

.portfolio-item {
    right: 0;
    margin: 0 0 10px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 320px;
    border: 2px solid rgba(0,0,0, 0.2);
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0,0,0,.7);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}



.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

/*FRASE PETER*/

.frase{
  margin-top: 3%;
  padding: 50px 30px;
  color:rgba(255, 255, 255, .7);
  font-family:'Lato', sans-serif;
  line-height: 1.5;
  letter-spacing: 3;
  text-align: center;
  font-size: 15px;
  font-weight: 75;
}
p.frase ~p{
   font-size: 15px;
   color: rgba(255, 255, 255, 0.5);
}

/*imagenes hover*/
.styles img {
  border: 1px solid #ddd;
  opacity: 0.95;
  /*box-shadow: 5px 4px 0 0 #E6E6E6;*/
  -webkit-transition: all 0.9s ease-in-out;
   -moz-transition: all 0.9s ease-in-out;
   -o-transition: all 0.9s ease-in-out;
   -ms-transition: all 0.9s ease-in-out;
   transition: all 0.9s ease-in-out;
}

.styles:hover img {
  opacity: 1;
  -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
  
}



#colors img{
  height: 234px;
  width: 345px;
  padding: 5px;
  margin: 20px;
  background-color: rgba(0,  0,0,0.7) ;

}



#colors img:active,
#colors img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
  -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}


/*about*/

.mg-titles{
  
  margin-top: 60px;
}

.sub-title{
  letter-spacing: 6px;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  color: black;
  margin-bottom: 80px;
}


.box-perfil{
  width: 190px;
  height: 200px;
  margin-left: -15px;
  border-radius: 90%;
}


div.box-perfil img{
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 90%;
  margin-top: 60px;
}

@media (max-width: 990px) {

       .box-perfil{
        width: 190px;
        height: 200px;
        border-radius: 90%;
        margin: 0 auto;
        margin-bottom: 40px;
        margin-top: -50px;
      }

      div.box-perfil img{
        width: 100%;
        height: 100%;
        display: inline-block;
        border-radius: 90%;
        margin-top: 0px;
      }

      hr{
      width: 50%;
      margin: 0 auto;
      margin-top: 30px;
    }

}


@media (max-width:767px){

  div.box-perfil img {
      width: 200px;
      height: 200px;
      display: inline-block;
      border-radius: 90%;
      margin-top: 0px;
      margin: 0 auto;
  }
}

.flota{
  display: inline-block;
}

@media (min-width: 1000px)and (max-width: 1190px) {

    .info-about{
    letter-spacing: 3px;
    text-align: center;
    margin-left: -100px;
  }

     .info-p{
    padding: 3px;
    line-height: 1.5;
    text-align: center;
    font-size: 15px;
    color: grey;
    margin-left: -100px;
  } 

}

.info-p{
  padding: 3px;
  line-height: 2;
  text-align: center;
  font-size: 13px;
  color: grey;
  width: 105%;

}

.info-about{
  letter-spacing: 3px;
  text-align: center;
  width: 105%;
}

.info-habilidades{
  letter-spacing: 3px;
  text-align: center;
}




/*Redes*/

.redes{
  margin-top: 30px;
  margin-right: 3px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border: 1px solid #1f1f1f;
  display: inline-block;
  width: 44px;
  height: 43px;
  padding-top: 5px;
}

.redes:hover{
  background-color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  color: #000;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s
}



/*Copy*/

hr{
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

hr~p{
  color: #fff;
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
}

/*footer*/

#footer{
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
      background-size: cover;
}

.contacto-title{
  letter-spacing: 0px;
  font-size: 60px;
  font-family: 'Lato Thin', sans-serif;
  font-weight: 300!important;
  margin: 20px;
  color: rgba(255,255,255,0.5);
}

.hr-footer{
  border-color: #1f1f1f;
}


.name-contacto:hover{
  color: rgba(233,12,63, 0.7);
}


.intro-f {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
     -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
     -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
  padding: 0 15px;
}

@media (max-width: 768px){
  .contacto-title{
  letter-spacing: 6px;
  font-size: 15px;
  font-family: 'Lato Thin', sans-serif;
  font-weight: 300!important;
  margin: 20px;
  color: rgba(255,255,255,0.5);
}

.sub-title {
    letter-spacing: 6px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: black;
    margin-bottom: 80px;
}

}


.modal-body1 {
    position: relative;
    padding: 100px;
}

/*TEXTO PARPADEA*/
.text {
 
   color: #fff;
   font-size: 14px;
 
}
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.3; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}




